@model IEnumerable<OLXProject.Models.ProductDetailsModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" id="Search" placeholder="Search" class="form-control"/>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.productDetailsId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productSubCategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productImageId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updatedOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="Search">
        <td>
            @Html.DisplayFor(modelItem => item.productDetailsId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productSubCategoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productImageId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cityId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createdOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updatedOn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { productDetailsId = item.productDetailsId }) |
            @Html.ActionLink("Details", "Details", new { productDetailsId = item.productDetailsId }) |
            @Html.ActionLink("Delete", "Delete", new { productDetailsId = item.productDetailsId })
        </td>
    </tr>
}

</table>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {

        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
       
        $("#Search").keyup(function () {

            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {

                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }

            });

        });

    });
</script>