@model OLX.Models.Admin.ProductListModel

@{
    ViewBag.Title = "AdvDetails";
}
<div  class="scroll-container">
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.advertiseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.advertiseId)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.productSubCategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productSubCategoryId)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.advertiseTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.advertiseTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.advertiseDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.advertiseDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.advertisePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.advertisePrice)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.areaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.areaId)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.advertiseStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.advertiseStatus)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.userId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userId)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.advertiseapproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.advertiseapproved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updatedOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "ProductListEdit", new { advertiseId = Model.advertiseId })
    @Html.ActionLink("Back to List", "ProductList")
</p>
<style>

    .scroll-container {
        overflow: auto;
        height: 500px;
        max-height: 700px;
    }

    /*.scroll-container::-webkit-scrollbar-thumb:hover {
                background: #555;*/ /* Thumb color on hover */
    /*}*/
</style>