@model IEnumerable<OLX.Models.User.UserBuyModel>

@{
    Layout = null;
}
<style>
    .second-header {
        width: 100%;
        height: 40px;
        margin-top: 8px;
        display: flex;
        align-items: center;
        background-color: #f3f3f3;
        /* border:2px solid red; */
    }

    .dropdown-menu.show {
        background-color: #f3f3f3;
        WIDTH: max-content;
        position: absolute;
    }

    .second-header a {
        color: #2866c3;
    }
</style>
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<div class="second-header">

    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            All Category
        </button>
        <ul class="dropdown-menu" style="color:black">

            @{
                // Group the ModelProductSubCategory objects by productCategoryName
                var groupedCategories = Model.GroupBy(item => item.productCategoryName);
                //var groupedCategories1 = Model.GroupBy(item => item.productCategoryId);
            }

            @foreach (var group in groupedCategories)
            {

                @*<a href="home/filterproduct?categoryId=@group.First().productCategoryId">*@
                <a href="@Url.Action("filterproduct", "Home", new {categoryId = group.First().productCategoryId})">
                    <h2>@group.Key</h2>
                </a>
                <ul>
                    @foreach (var subcategory in group)
                    {
                        <li>
                            @*<a href="home/filterproduct?subcategoryId=@subcategory.productSubCategoryId">@subcategory.productSubCategoryName</a>*@
                            <a href="@Url.Action("filterproduct", "Home", new {subcategoryId =subcategory.productSubCategoryId})">

                                @subcategory.productSubCategoryName
                            </a>
                        </li>
                    }
                </ul>
            }

        </ul>
    </div>
    <div class="navbar-nav">
        <ul>
            <a href="">bmw</a>

            <a href="">mini copper</a>
            <a href="">mini copper</a>
            <a href="">mini copper</a>
            <a href="">mini copper</a>
            <a href="">mini copper</a>
            <a href="">mini copper</a>
        </ul>

    </div>
</div>
