@model List<OLX.Models.User.UserBuyModel>

@{
    ViewBag.Title = "shoeAdvertiseDetails";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>


    <!-- Add your CSS and JavaScript links here -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">


    <style>
        /* Your existing CSS styles here */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body, h1, p, ul, li {
            margin: 0;
            padding: 0;
        }

        .container {
            width: 100%;
            padding: 20px;
            box-shadow: 20px;
        }

        .advertisement-list {
            display: flex;
            flex-wrap: wrap;
        }

        .slider {
            width: 100%;
            max-width: 100%;
            height: auto;
            box-shadow: 0px 0px 10px 3px grey;
            position: relative;
            overflow: hidden;
        }

            .slider figure img {
                max-width: 100%;
                max-height: auto;
                z-index: 2;
                position: relative;
                margin-left: 5.3%;
            }

            .slider figure {
                position: relative;
                width: 400%;
                margin: 0;
                left: 0;
                transition: 1s ease-in-out;
                background-color: black;
                justify-content: center;
            }

            .slider .btn-next, .btn-prev {
                position: absolute;
                top: 45%;
                cursor: pointer;
                color: white;
                background: #3949ab;
                padding: 20px;
                font-size: 50px;
                border: none;
            }

            .slider .btn-prev {
                left: 0px;
            }

            .slider .btn-next {
                right: 0px;
            }

            .slider .slider-container .imgSpace .c {
                position: absolute;
                top: 8px;
                right: 16px;
                font-size: 18px;
                width: 10%;
            }

        ul li {
            display: inline;
            background-color: #FFCE32;
            border-radius: 5px;
            padding: 5px;
        }

            ul li span {
                margin: 5px;
            }

        .abcd {
            width: 77%;
            margin: 2px;
            padding: 2px;
        }

        .ccc {
            font-size: x-large;
            text-align: center;
            height: 50px;
            display: block;
            margin: 10px;
            padding: 10px;
        }

        .buttondiv {
            width: 20%;
        }

        .but {
            width: 100%;
            height: 50%;
            margin: 2px;
            padding: 2px;
            border: none;
        }

        .aaa {
            margin: 10px;
            font-size: xx-large;
            color: red;
        }

        img {
            margin: 0 20% 0 20%;
        }

        .imgSpace{
            width:100%;
        }
        .slide{
            width:80%;
        }
    </style>
</head>
<body>
    @foreach (var group in Model.GroupBy(item => item.advertiseId))
    {
        <div class="flex-container">
            <div class="advertisement-list">
                <div class="container">
                    <div class="slider">
                        <div class="slider-container">
                            @foreach (var item in group)
                            {
                                <div class="imgSpace">
                                <div class="slide">
                                    <img src="data:image/JPG;base64, @Convert.ToBase64String(item.imageData)" alt="Image" width="800px" />
                                </div>
                                <div class="c">
                                    <ul>
                                        <i class="fa-solid fa-square-share-nodes aaa "></i>
                                        <i class="fa-solid fa-heart aaa"></i>
                                    </ul>
                                </div>

                            </div>
                            }


                        </div>
                    </div>
                </div>

                <div class="abcd">
                    <div class="ccc">
                        @Html.DisplayFor(item => group.First().advertiseTitle)
                    </div>
                    <div class="ccc">
                        @Html.DisplayFor(item => group.First().advertiseDescription)
                    </div>
                    <div class="ccc">
                        RS.@Html.DisplayFor(item => group.First().advertisePrice)
                    </div>
                    <div class="ccc">

                        @Html.DisplayFor(item => group.First().areaName)
                    </div>

                </div>
                <div class="buttondiv">
                    <div>
                        <a href="@Url.Action("chatmap", "Chat", new {advertiseId = group.First().advertiseId, userId = group.First().userId  })" style="text-decoration:none; color:black">
                            <button class="but">
                                <h3 style="padding:10PX">Chat With Seller</h3>
                                <h4>@Html.DisplayFor(item => group.First().firstName)</h4>
                            </button>
                        </a>


                        <a href="@Url.Action("PurchaseProduct","Product", new { advertiseId = group.First().advertiseId})" style="text-decoration:none; color:black">
                            <button class="but"><h2> Buy Product</h2> </button>

                        </a>

                    </div>
                </div>
            </div>
        </div>
    }

    <script>
        // Initialize the Slick Slider
        $(document).ready(function () {
            $('.slider-container').slick({
                arrows: true, // Show navigation arrows
                nextArrow: '<button class="btn-next"><i class="fa fa-arrow-circle-right"></i></button>',
                prevArrow: '<button class="btn-prev"><i class="fa fa-arrow-circle-left"></i></button>',
            });
        });
    </script>
</body>
</html>







