@using OLX.Models
@model UsersModel
@{
    Layout = null;
}
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

<style>

    .centered-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50vh;
    }

    .form-container {
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        max-width: 400px;
    }
</style>

<div class="centered-form">
    @using (Html.BeginForm("login", "User", FormMethod.Post, new { @class = "form-container" }))
    {
        @Html.AntiForgeryToken()

        <h4 style="text-align:center">LoginModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.userEmail, "Enter Email", htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.userEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.userEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, "Enter Password", htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", Type = "password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })<br />
            </div>
        </div>

        <div class="form-group" style="text-align:center">
            <input type="submit" class="btn btn-success" id="btnSubmit" value="Login" />
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(document).ready(function () {
        //$(".attachmentdiv").hide();
        $(function () {
            $('#btnSubmit').click(function (event) {
                /*   debugger;*/
                event.preventDefault();
                var userEmail = $('#userEmail').val();
                var password = $('#Password').val();

                if (!userEmail || !password) {
                    alert("Please enter both email and password.");
                    return;
                }

                var authmodel = {
                    userEmail: userEmail,
                    Password: password
                };
                $.ajax({
                    type: "POST",
                    url: "/User/login",
                    data: JSON.stringify(authmodel),
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.result == 1) {
                            var url = window.location.href
                            url = '/Home/Index';
                            window.location.href = url;
                        }
                        else if (data.result == 2) {
                            var url = window.location.href
                            url = '/Admin/Dashboard';
                            window.location.href = url;
                        }

                        else if (data.result == 3) {
                            alert(data.message)
                      
                        }
                      
                        //var url = window.location.href
                        //url = '/home/Project';
                        //window.location.href = url;
                    },
                    error: function () {
                        alert("Please Enter Details!!")
                    }
                });
            });
        });
    });
</script>
