@model IEnumerable<OLX.Models.MyAdvertiseModel>

@{
    ViewBag.Title = "ViewMyAds";
}

<h3>ViewMyAds</h3>

<p>
    @Html.ActionLink("Create New Ads", "Sell")
</p>
<table class="table">
    <tr>
        <th>Advertise Id</th>
        <th>Images</th>
        @*<th>Product Subcategory</th>*@
        <th>Advertise Title</th>
        <th>Advertise Description</th>
        <th>Advertise Price</th>
        <th>Advertise Status</th>
        <th>Advertise Approved</th>
        <th>Created On</th>
        <th>Updated On</th>
        <th></th>
    </tr>

    @foreach (var group in Model.GroupBy(item => item.advertiseId))
    {
        var firstItem = group.First();
<tr>
    <td>@firstItem.advertiseId</td>
    <td>
        @foreach (var item in group)
        {
            if (item.imageData != null && item.imageData.Length > 0)
            {
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.imageData)" alt="Ad Image" style="max-width:150px; max-height: 150px;" />
            }
            else
            {
                <span>No Image</span>
            }
        }
    </td>
    @*<td>@firstItem.productSubCategoryName</td>*@
    <td>@firstItem.advertiseTitle</td>
    <td>@firstItem.advertiseDescription</td>
    <td>@firstItem.advertisePrice.ToString("0.00")</td>
    @*<td>@firstItem.advertiseStatus</td>
        <td>@firstItem.advertiseapproved</td>*@
    <td>
        @if (firstItem.advertiseStatus && firstItem.advertiseapproved)
        {
            <span>Approved</span>
        }
        else
        {
            <span>Pending</span>
        }
    </td>
    <td>
        @if (firstItem.advertiseStatus && firstItem.advertiseapproved)
        {
            <span>Approved</span>
        }
        else
        {
            <span>Pending</span>
        }
    </td>
    <td>@firstItem.createdOn</td>
    <td>@firstItem.updatedOn</td>
    <td>
        @Html.ActionLink("Edit", "EditAdvertiseDetails", new { advertiseId = firstItem.advertiseId }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Remove", "DeleteAdvertiseDetails", new { advertiseId = firstItem.advertiseId }, new { @class = "btn btn-primary" })
    </td>
</tr>
    }
</table>